[BUG] OpenAPI definition does not match response

**Describe the bug**
The OpenAPI schemas do not match the responses from the API's themselves.  They seem to differ in at least two ways:

1. Missing root element<br/>Each API response includes the serialized type name which is omitted from the declared schema
2. Incorrect date-time formatting<br/>API responses declare date-time fields, which are defined in OpenAPI3 to be compliant with RFC3339 §5.6 (ISO8601 style strings).  API Endpoints are actually returning an object with a ticks field.

**To Reproduce**
Call /api/openapi.json to get schema
Call /api/users/current to get actual.

**Expected behavior**
Schema and actual should match

**Actual behavior**
Schema and actual do not match

**Screenshots**

<img width="1119" height="842" alt="Image" src="https://github.com/user-attachments/assets/7a0f52f6-9f07-4317-bdf6-3da247a0ac62" />

**Environment**
 - Windows 11
 - Zulu 17
 - 6865d88e49f998fad978381400b2a3f0bfb0e496
